<h1> Log In </h1>

<%= form_for :user do |f| %>

    <%= f.label :username, "Username: " %>
    <%= f.text_field :username %>
    <br>
    <br>
    <%= f.label :password, "Password: " %>
    <%= f.password_field :password %>
    <br>
    <br>
    <%= f.submit "Log In" %>
<% end %>
<br>
<%= button_to 'Login with Github', '/auth/github'%>