<%= form_for haiku do |f| %>
  <% if haiku.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(haiku.errors.count, "error") %>
      prohibited this Haiku from being saved:
    </h2>

    <ul>
    <% haiku.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %> 

    <div class="field">
    <%= f.label :title, "Title: " %>
    <br>
    <%= f.text_field :title %>
    <p>
    Content:
    <br>
    <%= f.label :line_1, "Line 1:" %>
    <%= f.text_field :line_1 %>
    <br>
    <%= f.label :line_2, "Line 2:" %>
    <%= f.text_field :line_2 %>
    <br>
    <%= f.label :line_3, "Line 3:" %>
    <%= f.text_field :line_3 %>
    </p>
    </div>


    <div class="field">
    <%= f.label :theme %>
    <br>
    <%= f.collection_check_boxes :theme_ids, Theme.all, :id, :name %>
    </div>

    <br>
    <div class="field">
    Create a new Theme
    <br>
    <%= f.fields_for :themes, haiku.themes.build do |themes_fields| %>
        <%= themes_fields.text_field :name %>
    <% end %>
    </div>

    <br>
    <%= f.submit %>
<% end %>
Or 
<%= button_to "Delete Haiku", user_haikus_path(haiku.user), method: :delete %>
