<%= form_for haiku do |f| %>
    <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
    </p>
    <p>
    <%= f.label :content %>
    <%= f.text_field :content %>
    </p>
    <p>
    <%= f.label :theme %>
    <%= f.text_field :theme %>
    </p>
    <!--
    <%= f.collection_check_boxes :theme_ids, Theme.all, :id, :name %>
    <%= f.fields_for :themes, haiku.themes.build do |themes_fields| %>
        <%= themes_fields.text_field :name %>
    <% end %>
    -->
    <%= f.submit %>
<% end %>