
Title: <%= @haiku.title %>
<p>
  Content: 
  <br>
  <%= @haiku.line_1 %>
  <br>
  <%= @haiku.line_2 %>
  <br>
  <%= @haiku.line_3 %>

  </p>
Themes:
  <%= @haiku.themes.each do |f|%>
    <%= f.name %>
    <%end %>
 