
<b><%= @haiku.title %></b>
<br>
By: <%= link_to @haiku.user.username.capitalize, user_haikus_path(@haiku.user)%>
<p>
  Haiku: 
  <br>
  <%@haiku.content.each do |line|%>
    <p> 
    <b><%=line%></b>
    </p>
<%end%>
  </p>

Themes:
  <%= @haiku.themes.each do |f|%>
    <br>
    <%= f.name.strip%>
    <%end %>
 <hr>