<br>
<h1> Hi <%= @user.username.capitalize %>!</h1>
<br>
<%if @user.haikus.empty? %>
    <%= "#{@user.username} has no Haikus yet" %>
<%else%> 
    Your Haikus:
    <br>
    <%@user.haikus.each do |haiku|%>
        <p>
        <b><%= haiku.title %></b>
        <br>
            <%haiku.content.each do |line|%>
                <p> 
                <%=line%>
                </p>
            <%end%>
            <%= link_to "View", "/users/#{current_user.id}/haikus/#{haiku.id}"%>
            <br>
            <%= link_to "Edit", "/users/#{current_user.id}/haikus/#{haiku.id}/edit"%>
            <br>
            <br>
            <%= button_to "Delete Haiku", haiku_path(haiku), method: :delete %>
            </p>
            <br>
        <%end%>
    <%end%>
    <br>

    <%if @user.themes.empty? %>
    <%= "#{@user.username} has no themes yet" %>
<%else%> 
    Your Themes:
    <br>
    <%@user.themes.uniq.each do |t|%>
        <p>
        <b><%= t.name %></b>
        <br>
        <%end%>
        <%end%>

